.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5em;
  /* border-bottom: 1px solid #ddd; */
  background-color:white;
  font-family: "Cairo", sans-serif;
  direction: rtl;
  height: 100px;

}

.logo-container {

  display :flex;
  align-items:right;
  margin-left: 10em;
}

.logo-image {

  height:  12em;
  object-fit: contain;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
}

.notification-icon {
  cursor: pointer;
}

.user-dropdown {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: #e5635b;
  position: relative;
  font-size: 20px;
}

.user-image {
  height: 50px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}
